/* Light reset */
*, *::before, *::after{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* General styles */
:root{
  --cl-white : #fff;
  --cl-pink : hotpink;
  --cl-black : #333;
}

body {
  background-color: #f5f5f5;
  color: #495057;
  font-family: 'Lato', sans-serif;
}

#navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em;
}

#hero{
  padding-block: 3rem;
}
.title{
  font-size: 2.5rem;
  font-weight: 600;
  color: #333;
}
#main_form{
  display: flex;

}

#index_input{
  margin-inline: 1.5em;
  padding: 0.4em 0.8em;
  border-radius: .8em;
  font-size: 1.2rem;
  font-weight: 600;
  width: 400px;
}

#go_btn{
  padding: 0.4em 0.8em;
  border-radius: .8em;
  background-color: var(--cl-pink);
  outline: transparent;
  border: none;
  color: var(--cl-white);
  font-size: 1.2rem;
  font-weight: 600;
}

.autocomplete-container {
  /*Le container doit être en position relative*/
  position: relative;
  padding: 0;
  border: none;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-top: none;
  z-index: 99;
  top: calc(100% + 2px);
  left: 0;
  right: 0;
  background-color: var(--cl-white);
  border-radius: 10px;
  text-align: left;
  color: var(--cl-black);
  width: 80%;
  transform: translateX(35px);
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-items div:not(:last-of-type) {
  border-bottom: 1px solid rgba(196, 191, 191, 0.664);
}

.autocomplete-items div:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.autocomplete-items .autocomplete-active {
  background-color: rgba(0, 0, 0, 0.1);
}
.clear-button {
  color: var(--cl-black);
  opacity: 0.7;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 0;
  right: 12%;
  height: 100%;
  display: none;
  align-items: center;
}

.clear-button.visible {
  display: flex;
}
.clear-button:hover {
  opacity: 1;
}


/* Weather section*/
#hero_subsection{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 3rem;
  margin: 3rem;
  justify-items: center;
}

.weather_card{
  padding: 2rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  text-align: center;
  max-width: 20rem;
}

.weather_card p{
  margin-bottom: 0;
}

.card-text {
  font-size: 18px;
}

/* Heure Locale */
#heure{
  display: grid;
  place-items: center;
  font-size: clamp(1.7rem ,4.5rem, 6rem);
  color: var(--cl-black);
}

.card-img-top {
  margin: 20px auto;
  max-width: 150px;
}

.city{
  font-size: 1.7rem;
  font-weight: bold;
}
.desc{
  font-size: 1.2rem;
  font-weight: 700;
}
.temp {
  font-size: 4rem;
  font-weight: bold;
}

.temp-max,
.temp-min {
  font-size: 1.2rem;
  font-weight: bold;
}

/* Form styles */
#search-form {
  margin-top: 40px;
}

#search-button {
  margin-top: 10px;
}

#city-input {
  border-radius: 25px;
  font-size: 18px;
  padding: 10px 20px;
}

#city-input:focus {
  outline: none;
}

/* Hotel Card */

#hotel_container{
  margin-block: 3rem;
}
#hotel{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.5rem;
  margin: 3rem;
}

.hotel_card{
  display: grid;
  grid-template-rows: 50% 1fr;
  gap: 1rem;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 10px;
  transition: all 0.2s ease-in-out;
}
.hotel_card:hover{
  scale: 1.05;
}
.hotel_card:not(:hover){
  opacity: 0.7;
}
.hotel_img{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

.hotel_info{
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel_details{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hotel_name{
  font-size: 1.4rem;
  font-weight: bold;
}
.hotel_adress{
  font-style: italic;
  font-weight: lighter;
  color: var(--cl-black);
}

.hotel_price{
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--cl-pink);
}

.hotel_btn{
  border: 1px solid var(--cl-pink);
  color: var(--cl-pink);
  border-radius: 10px;
  position: relative;
  background-color: transparent;
  padding: 0.5rem 1rem;
  overflow: hidden;
}
.hotel_btn::after{
  content: "";
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: var(--cl-pink);
  transition: all 0.2s ease-in;
}
.hotel_btn:hover::after{
  width: 100%;
}
.hotel_btn:hover{
  color: var(--cl-white);
}

footer{
  padding: 2.5rem;
  background-color: #eeeeee;
}